@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text-light: black;
    --bg-light: white;
    color: var(--text-light);
    background: var(--bg-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-dark: white;
        --bg-dark: black;
        color: var(--text-dark);
        background: var(--bg-dark);
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text-light);
    background: var(--bg-light);

    @media (prefers-color-scheme: dark) {
        color: var(--text-dark);
        background: var(--bg-dark);
    }
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    --break-md: 767px;
}

header,
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -2em;
    margin-right: -2em;
    width: calc(100% + 4em);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 8);
    background: var(--color-purple-800);
    font-weight: var(--font-weight-bold);
    color: var(--color-purple-200);
        
    @media (prefers-color-scheme: dark) {
        background: var(--color-purple-200);
        color: var(--color-purple-800);
    }
}

header {
    margin-bottom: 1.5em;
}

footer {
    justify-self: flex-end;
    margin-top: auto;
    font-size: var(--text-xs);
}

main {
    width: 100%;
    max-width: var(--break-md);
    margin: 0 auto calc(var(--spacing) * 6);
}

/* @layer reset */
/* @layer base */
@layer components {
    .btn {
        display: inline-block;
        border: 1px solid var(--color-purple-800);
        border-radius: 3px;
        padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
        white-space: nowrap;
        text-align: center;
        background: var(--color-purple-100);
        font-weight: var(--font-weight-semibold);
        color: var(--color-purple-800);
        
        @media (prefers-color-scheme: dark) {
            border-color: var(--color-purple-100);
            background: var(--color-purple-800);
            color: var(--color-purple-100);
        }
    }

    .secondary {
        border-color: var(--color-gray-600);
        background: var(--color-gray-100);
        color: var(--color-purple-700);

        @media (prefers-color-scheme: dark) {
            border-color: var(--color-gray-300);
            background: var(--color-gray-800);
            color: var(--color-purple-200);
        }
    }
}

/* FORMS */
fieldset {
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    background: var(--color-gray-100);
    border-radius: 3px;

    @media (prefers-color-scheme: dark) {
        background: var(--color-gray-900);
    }
}
fieldset legend {
    margin: 0 0 0 calc(var(--spacing) * 1);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
    background: var(--color-gray-100);
    border-radius: 3px;
    font-weight: var(--font-weight-semibold);
    color: var(--color-purple-800);
    
    @media (prefers-color-scheme: dark) {
        background: var(--color-gray-900);
        color: var(--color-purple-100);
    }
}
fieldset label,
fieldset .form-group-label {
    line-height: var(--text-sm--line-height);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-600);
    
    @media (prefers-color-scheme: dark) {
        color: var(--color-gray-300);
    }
}
fieldset input,
fieldset select {
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    background-color: var(--bg-light);
    border: 1px solid black;
    border-radius: var(--radius-md);
    color: var(--text-light);
    
    @media (prefers-color-scheme: dark) {
        color: var(--text-dark);
        background-color: var(--bg-dark);
    }
}


.form-control-stack {
    display: flex;
    flex-direction: column;
}
.form-helper {
    margin: calc(var(--spacing) * 1) 0;
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    color: var(--color-gray-700);
    
    @media (prefers-color-scheme: dark) {
        color: var(--color-gray-200);
    }
}

label.form-radio {
    margin: calc(var(--spacing) * 1) 0;
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    border: 1px solid var(--color-gray-500);
    border-radius: var(--radius-md);
    background: var(--color-white);
    
    @media (prefers-color-scheme: dark) {
        background: var(--color-gray-800);
    }
}
label.form-radio[aria-selected="true"] {
    border-color: var(--color-purple-500);
    background: var(--color-purple-100);
    
    @media (prefers-color-scheme: dark) {
        background: var(--color-purple-900);
    }
}
.form-radio [type="radio"] {
    display: inline-block;
    margin-right: calc(var(--spacing) * 2);
    line-height: var(--text-xs--line-height);
    accent-color: var(--color-purple-500);
}
.form-radio .radio-title {
    display: inline;
    line-height: var(--text-xs--line-height);
    font-weight: var(--font-weight-semibold);
}
.form-radio .radio-more {
    display: block;
    margin: calc(var(--spacing) * 0.5) 0;
    line-height: var(--text-xs--line-height);
    font-size: var(--text-xs);
}